<body class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-expand-md">
          <a class="navbar-brand logo" routerLink="/"><h1>Pablo Aristi</h1></a>
          <button
            style="color: #ededed;"
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse ul" id="navbarCollapse" >
            <ul class="navbar-nav" >
              <li class="nav-item"  >
                <a class="nav-link" routerLink="/">Proyectos </a>
              </li>
              <li class="nav-item" >
                <a class="nav-link"  routerLink="/">Sobre mi</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link"  routerLink="/">Contácto </a>
              </li>
            </ul>
          </div>
    </nav>
  </div>
  <div class="home col-lg col-md col-sm">
    <div class="home-content">
      <h1>Hola! Soy Pablo Aristi</h1>
        <h3>FrontEnd Developer</h3>
        <p>Llevo 4 años en el mundo de la programación. 2 como estudiante y 2 como trabajador.
          Después de cursar DAW entre 2019-2021 comencé a trabajar como desarrollador Oracle,
          creando y manteniendo aplicaciones mediante Oracle Forms. Desarrollo de procedimientos PL/SQL
          y desarrollando y manteniendo bases de datos, creando y optimizando consultas SQL.
          Sin embargo lo que me apasiona es el desarrollo Frontend y a lo cúal llevo dedicándome un año formándome de manera autónoma mediante cursos y practicando.
        </p>
        <div class="btn-box">
          <a href="#">Contactame!</a>
        </div>
    </div>
    <div class="home-sci">
      <a href="#"><i class='bx bxl-linkedin'></i></a>
      <a href="#"><i class='bx bxl-github' ></i></a>
    </div>
    <!--<span class="home-imgHover"></span> -->
  </div>
</body>

